<%=render "home/slider"%>
<div class="container-fluid" style="padding-top:5%">
  <div class="row-fluid">
    <!-- 左边空白 -->
    <div class="span2">
      <!--Sidebar content-->
    </div>
    <!-- 左边空白结束 -->
    <div class="span8 ">
      <!-- 内容区 -->
      <table class="table">
              <thead>
                <tr>
                  <th>姓名</th>
                  <th>发表时间</th>
                  <th>地区</th>
                </tr>
              </thead>
              <tbody>
                <% @toudi.each do |g| %>
                <tr>
                  <td><%= link_to Particular.where(:user_id => g.user_id).first.name, particular_path(g.user_id) %></td>
                  <td><%= g.created_at.strftime('%Y-%m-%d %H:%M:%S').to_s %></td>
                  <td>北京</td>
                </tr>
              <% end %>
              </tbody>
            </table>      
        <p></p>
            <div class="text-center">
                <%= paginate @toudi %>
            </div>
      <!-- 内容区结束 -->
    </div>
    <!-- 右边空白 -->
     <div class="span2">
      <!--Sidebar content-->
    </div>
    <!-- 右边空白结束 -->
  </div>
</div>




