<%=render "home/slider"%>
<div style="padding-top:10%; text-align:center ">
  <p>上传成绩单</p>
  <%= form_for @report, :html => { :multipart => true }  do |f| %>
    <%= f.file_field :avatar%>
    <%= f.submit "上传"%>
  <% end %>
</div>